body {
    background: radial-gradient(circle, rgba(38,41,122,1) 0%, rgba(98,112,255,0.8548669467787114) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2{
    font-size: 3rem;
    text-align: center;
    color: white;
}
form{
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    text-align: center;
    font-weight: bold;
    color: white;
}
input{
    border-radius: 25px;
    margin-bottom: 3rem;
    padding: 0.5rem;
}
button{
    background-color: navy;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    width: 150px;
    padding: 1rem;
    
}
ul{
    list-style: none;
    color: white;
}

#petList {
    margin-top: 20px;
}

#warning {
    color: red;
    font-weight: bold;
}